<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <title>RippinPosse</title>
</head>

<body>
    <header class="header">
        <div class="wrapper">
            <div class="header__flex">
                <nav class="nav">
                    <ul class="nav__ul">
                        <li class="nav__li">
                            <a href="#!" class="nav__a">Личный кабинет</a>
                            <hr class="hr__nav">
                        </li>
                        <li class="nav__li">
                            <a href="#!" class="nav__a">Подать заявку</a>
                        </li>
                        <li class="nav__li">
                            <a href="#!" class="nav__a">Субсидии</a>
                        </li>
                        <li style="list-style-type: none">
                            <a href="#!" class="nav__a">Faq</a>
                        </li>
                    </ul>
                </nav>
                <div class="sign__in">
                    <a href="#!" class="sign__in__button">
                        Выйти
                    </a>
                </div>
            </div>
        </div>
    </header>

    <section class="content">
        <div class="wrapper">
            <div class="intro__flex">
                <div class="right__intro">
                    <h1 class="my_applications_title">
                        Мои заявки
                    </h1>
                    <hr>
                    <div class="applications_list">
                        <div class="my__applications">
                            <div class="my__applications__flex">
                                <h2>
                                    Заявка №10000
                                </h2>
                                <button class="button__my__applications">
                                    Развернуть
                                </button>
                            </div>
                        </div>

                        <div style="height: 300px;" class="my__applications">
                            <div class="my__applications__flex">
                                <h2>
                                    Заявка №10675
                                </h2>
                                <button class="button__my__applications">Свернуть</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="left__intro">
                    <h2 class="left__intro__text">
                        Публичные заявки
                    </h2>
                    <hr style="margin-bottom: 30px;">

                    <div class="applications_list">
                        <div class="all__applications">
                            <div class="ellipse_red"></div>
                            <h2 class="all__applications__text">
                                Заявка №10011
                            </h2>
                        </div>
    
                        <div class="all__applications__information">
                            <p> 
                                <span>Субсидия: </span> &nbsp для франчайзи
                            </p>
                            <p>
                                <span>Статус:</span>&nbsp отклонена
                            </p>
                            <hr>
                            <p>
                                <span>Документ:</span>&nbsp копии учредительных &nbsp&nbspдокументов
                            </p>
                            <hr>
                            <p>
                                <span>Причина: </span> &nbsp документ не отвечает &nbsp&nbspтребованиям оформления.
                            </p>
                            <div class="all__application__footer">
                                <p style="margin-top: 80px; opacity: .6;">
                                    <span>0x123123767678795563454</span>
                                </p>
                                <img src="./img/bell.png" alt="bell">
                            </div>
                        </div>
    
                        <div class="all__applications">
                            <div class="ellipse_green"></div>
                            <h2 class="all__applications__text">
                                Заявка №17654
                            </h2>
                        </div>
    
                        <div class="all__applications">
                            <div class="ellipse_green"></div>
                            <h2 class="all__applications__text">
                                Заявка №10365
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>